.navbar{
    background-color: #cecece;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    
}

.colon-sol{
    display: flex;
    justify-content: flex-start;

}
.colon-sag{
    display: flex;
    justify-content: flex-end;
}


.colon-sol > h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -2px;
}