.navbar{
    background-color: #cecece;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.colon-sol{
    margin-right: 2em;
}

.colon-sol > h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -2px;
}