.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login_form{
    display: flex;
    flex-direction: column;
}

.login_form > h1 {
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -4px;
    text-align: center;
}

.login_form > h1 > span{
    color: rgb(56, 119, 255);
    font-size: 2.5rem;
    margin-top: 20px;
}

.login_form > input {
    min-width: 280px;
    padding: 15px 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.24);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 4px;
    font-size: 1.1rem;
    text-align: center;
}


.submit_btn {
    padding: 17px 30px;
    margin-top: 10px;
    background: #000000;
    color: #fff;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    border-radius: 4px;
}

.submit_btn:hover {
 background: rgb(56, 119, 255);
 transition: 0.2s;
 cursor: pointer;
}
