.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logout_btn{
    min-width: 280px;
    padding: 17px 30px;
    margin-top: 20px;
    background: #000000;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 4px;
}

.user_name{
    color:rgb(56, 119, 255);
}